{# template './base.html.twig' #}

<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>ToNight's - {% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="{{ assets('/design/themes/light.css') }}">
        <link rel="stylesheet/less" type="text/css" href="{{ assets('/design/default.less') }}">

        <script src="{{ assets('/js/libs/jquery-3.7.1.min.js') }}"></script>
        <script src="{{ assets('/js/libs/jquery.mask.min.js') }}"></script>
        <script src="{{ assets('/js/libs/less.js') }}"></script>

        <script src="{{ assets('/js/scripts/init.js') }}"></script>
    </head>
    <body>

    </body>
</html>