{# template './base.html.twig' #}

<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>ToNight's - {% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('/design/themes/light.css') }}">
        <link rel="stylesheet/less" type="text/css" href="{{ asset('/design/default.less') }}">

        <script src="{{ asset('/js/libs/jquery-3.7.1.min.js') }}"></script>
        <script src="{{ asset('/js/libs/jquery.mask.min.js') }}"></script>
        <script src="{{ asset('/js/libs/less.js') }}"></script>

        <script src="{{ asset('/js/scripts/init.js') }}"></script>
    </head>
    <body>

        <header>[HEADER]</header>
        <main>
            <aside>[ASIDE]</aside>
            <div class="container">
                <div class="content">
                    {% block content %}{% endblock %}
                </div>
                <footer>[FOOTER]</footer>
            </div>
        </main>

    </body>
</html>